<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!-- Permet l'utilisation des annotations pour l'injection de dependances -->
	<context:annotation-config />
	
	<!-- Permet de specifier dans quels packages se trouvent les classes a injecter
		Il s'agit des classes annotees avec @Component, @Repository, @Service, @Controller -->
	<context:component-scan base-package="bll;bo;dal;servlet"></context:component-scan>

</beans>